<header>
    <link rel="stylesheet" type="text/css" href="personalstyle.css">
    <!--might need to remove the css external link above -->
    <nav>
        <a href="/">EmanOfficial</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            
        </ul>
    </nav>
</header>